* {
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 5px solid lightgray;
    border-left: 3px solid lightgray;
}

.wrapper {
    font-size: 0;
}

.item{
    width: calc(189px + 5%);
    display: inline-block;
    border: 1px solid lightgray
}